a {
    display: inline-block;
    color:black;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}
a:after {
    background-color: #C42061;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
a:hover:after,
a:focus:after {
    width: 100%;
}
